{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/shared/styles/global.css"
}
